header {
 text-align: center;
 background-color: #000000; /*#FFBEF1;*/
 /* background: url("https://cdn.pixabay.com/photo/2017/07/23/20/50/houses-2532766_1280.jpg");
 background-size: cover;
 background-position: center; */
  color: #0892D0;
}
}
h1{
 
 
 font-color: #FFFFFF; 
}

body {
  background: linear-gradient(to right, #f7ff00, #db36a4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

a {
 color: white;
}
h1 {
 font-size: 70px;
 color: white;
}
img {
  margin: 40px 0px 0px 0px;
  border: 7px solid white;
  border-radius: 20px;
}
ul {
  padding: 10px;
  background: rgba(0,0,0,0.5);
}
li {
  display: inline;
  padding: 0px 10px 0px 10px;
}
p {
  text-align: center;
  color: black;
}
body{
  background-color: #E2FFBE;
  text-align: center;
  color: black;
}

div{
   color: #0892D0;
}


@media (max-width: 500px) {
  h1 {
     font-size: 36px;
     padding: 5px;
  }
  li {
    padding: 5px;
    display: block;
  }
  body {
    background: #E2FFBE;
  }

  p {
    text-align: center;
  }
