header{
	color: white;
	text-align: center;
	background: url('https://cdn.pixabay.com/photo/2017/07/31/11/44/laptop-2557572_1280.jpg');
	background-size: cover;
}

h1{
	color:blue;
}

p{
	color: red;
}

h2{
	color:black;
}